* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-image: url("./assets/background.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.gameboard {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 490px;
  height: 420px;
  padding: 10px;
  border: 10px solid rgba(55, 44, 24, 0.453);
  border-radius: 25px;
  display: grid;
  grid-template-rows: repeat(6, 70px);
  grid-template-columns: repeat(7, 70px);
}

.gameboard .cell {
  width: 62px;
  height: 62px;
  border: 2px solid rgba(44, 31, 13, 0.52);
  border-radius: 50%;
  margin: 4px;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.15s ease;
}

.gameboard .cell:hover {
  background-color: rgba(128, 92, 45, 0.327);
}

/* utility classes */
.flick {
  animation: flick-cell 0.25s 8 ease;
}

@keyframes flick-cell {
  50% {
    opacity: 0.3;
  }
}
